/* A little preparation first */
*,
*:before,
*:after {
    position: relative;
    box-sizing: border-box;
}

*::before,
*::after {
    content: '';
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Open Sans', Arial, sans-serif;
    background-image: 
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

